@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "微软雅黑";
	position: relative;
	background: #FFFFFF;
	color: #333;
	font-size: 16px;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor:pointer;
}

a:hover {
	text-decoration: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

input,
textarea,
select {
	outline: none;
	border: none;
	padding-left:10px;
}

a {
	text-decoration: none;
	color: #333;
	cursor:pointer;
}

textarea {
	resize: none;
	overflow: auto;
}

img {
	border: none;
	vertical-align: middle;
	max-width: 100%;
}

i/*,
em*/ {
	font-style: normal;
}

html,
body {
	height: 100%;
	width: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.block{
	display: block !important; 
}
.none{
    display: none !important;
}
.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}
.alignleft{
	text-align: left !important;
}

pre{
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
}